{% extends "home.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/seleccionar_tipo.css' %}">
{% endblock %}

{% block content %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<div class="tipo-container">

    <div class="tipo-card">

        <div class="tipo-header">
            <h1 class="tipo-title">
                Crear Miembro
            </h1>

            <p class="tipo-subtitle">
                Selecciona el tipo de miembro que deseas registrar en el sistema.
            </p>
        </div>

     <div class="tipo-grid">

    <a href="{% url 'usuarios:crear_miembro' %}?tipo=docente"
       class="tipo-btn docente">

        <div class="tipo-icon">
            <i class="fa-solid fa-chalkboard-user"></i>
        </div>

        <div>
            <h3>Docente</h3>
            <p>Registrar profesores y maestros</p>
        </div>

    </a>

    <a href="{% url 'usuarios:crear_miembro' %}?tipo=estudiante"
       class="tipo-btn estudiante">

        <div class="tipo-icon">
            <i class="fa-solid fa-user-graduate"></i>
        </div>

        <div>
            <h3>Estudiante</h3>
            <p>Registrar alumnos del sistema</p>
        </div>

    </a>

    <a href="{% url 'usuarios:crear_miembro' %}?tipo=administrativo"
       class="tipo-btn administrativo">

        <div class="tipo-icon">
            <i class="fa-solid fa-building-user"></i>
        </div>

        <div>
            <h3>Administrativo</h3>
            <p>Registrar personal administrativo</p>
        </div>

    </a>

</div>

    </div>

</div>

{% endblock %}